<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Smoothie</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/png" href="/smoothie.png" />
  </head>
  <body>
    <nav>
      <h1><a href="/">The Smoothies</a></h1>
      <ul>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
      </ul>
    </nav>
  </body>
</html>
