<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/back.png" alt="" />
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>Don't try it or you'll get addicted</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%>
